body{
  -webkit-font-smoothing: antialiased;
}
.content-wrap{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (min-width:760px){
  .content-wrap{
    flex-direction: row;
  }
}
.nav-header{
  height: 80px;
  background-color: #00bcd4;
  flex-shrink:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: #fff;
}
.nav-header h3{
  margin: 0;
  font-weight: 600;
}
.nav-header span{
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 8px;
}
.glyphicon-menu-left{
  font-size: 20px;
}
.glyphicon-globe{
  font-size: 24px;
}
.nav-footer{
  height: 80px;
  background-color: #00bcd4;
  flex-shrink:0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.nav-footer a{
  flex-grow: 1;
  margin: 0;
  border-right: 1px  solid rgba(0, 0, 0, 0.3);
}
.nav-footer a:hover,a:focus{
  text-decoration: none;
}
.nav-footer p:last-child{
  border: none;
}
.content-main{
  flex-grow: 1;
  /*background-color: deeppink;*/
  overflow-y: scroll;
}
.left-nav{
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
  background-color: #00bcd4;
}
